# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
# Virtual environment
venv/
# database and backup files
.db
.sqlite3
student_backup.txt
# Local database
students.db

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/